@CHARSET "UTF-8";

.rail{
	height: 16px;
	width: 240px;
	margin: 0 auto;
	border: 1px solid #666666;
	background: #ccc
}
.rail > .inner_rail {
	height: 12px;
	padding: 2px;
}
.rail > .inner_rail > .bar {
	background: #f8a405;
	height: 100%;
	width: 0
}
.animate{
	overflow-y: hidden;
	max-height: 500px; /* approximate max height */
	transition: .5s cubic-bezier(0, 1, 0.5, 1);
}
.animate.ng-hide {
	max-height: 0;
}
.radio{
	cursor: pointer
}
.myclass{
	background: #00f;
	color: #fff
}